.footer {
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  color: $main-text-color;
  font-size: 12px;
  padding: 0 0 29px 12px;

  .footer-list {
    list-style: none;
    padding-left: 0px;

    .footer-list-item {
      margin: 8px 11px;

      & > a {
        font-size: 14px;

        &:hover {
          color: $third-color;
          transition: 0.2s;
        }
      }

      & > a > .icon-mail,
      .icon-linkedin,
      .icon-github {
        color: $third-color;
        font-size: 15px;
      }
    }
  }
}
