.footer {
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 0 0 29px 12px;

  .footer-list {
    list-style: none;
    padding-left: 0px;

    .footer-list-item {
      margin: 8px 11px;

      & > a {
        font-size: 14px;

        &:hover {
          color: $secondary-color;
          transition: 0.2s;
        }
      }
    }
  }
}
