.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 44px 44px 44px;

  .projects-title {
    font-size: 39px;
  }

  .projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .project-box {
      width: 25%;
      height: 350px;
      overflow: hidden;
      margin: 20px 50px;
      border-radius: 10px;
      padding: 37px 0px 55px 0px;
      background-color: #e8ecf3;

      @media (max-width: 1300px) {
        width: 38%;
      }

      @media (max-width: 940px) {
        width: 61%;
      }

      @media (max-width: 940px) {
        width: 100%;
      }

      .img-container {
        height: 300px;
        text-align: center;

        .img-project {
          width: 90%;
          height: 100%;
          object-fit: cover;
          margin: -22px 0;
          transition: 0.3s ease-in;
          filter: grayscale(74%);
          border-radius: 5px;

          &:hover {
            filter: grayscale(0);
            transform: scale(1.1);
          }
        }
      }
    }

    .info-container {
      padding-left: 15px;

      span {
        color: $secondary-color;
      }
    }
  }

  @media (max-width: 940px) {
    padding: 0;
  }
}
