.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 44px;

  position: relative;

  .skills-title {
    font-size: 39px;
    z-index: 2;
  }

  .skewed-skills {
    position: absolute;
    top: 76px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: $secondary-color;
    transform: skewY(6deg);
    transform-origin: top right;
  }

  .container-skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 0 120px;

    @media (max-width: 1040px) {
      padding: 0;
    }

    .skill-box {
      width: 15%;
      height: 110px;
      margin: 26px 11px;
      transition: 0.3s ease-in;

      &:hover {
        transform: translateY(-16px);
      }

      & > img {
        width: 100%;
        object-fit: scale-down;
        height: 100%;
        transition: 0.3s ease-in;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
