.icon-skills {
  position: absolute;
  transition: 0.3s;
  bottom: -21px;
  right: 0px;
}

.icon-contact {
  position: absolute;
  transition: 0.3s;
  bottom: -32px;
  right: -21px;
}

.icon-project {
  position: absolute;
  transition: 0.3s;
  bottom: -21px;
  left: 77px;
}

.icon-about {
  position: absolute;
  transition: 0.3s;
  bottom: -21px;
  left: 77px;
}
