@import "./utils/variables";

@import "./components/icons";
@import "./components/links";

@import "./layout/footer";
@import "./layout/form";
@import "./layout/header";
@import "./layout/main";
@import "./layout/projects";
@import "./layout/skills";

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
