$main-color: #3f3f44;
$secondary-color: #cceabb;
$third-color: #b3dc9c;

$main-text-color: #f7f7f7;
$secondary-text-color: #fdcb9e;

$main-font: "Roboto Mono", monospace;
$secondary-font: "Droid Serif", serif;
