$main-color: #e1edda;
$secondary-color: #d66879;
$third-color: #f8efd6;

$main-text-color: #f7f7f7;
$secondary-text-color: #fdcb9e;

$main-font: "Roboto Mono", monospace;
$secondary-font: "Droid Serif", serif;
